/* src/App.css */
body {
  background-color: #f4f7f6;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

section {
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 30px !important;
}

h1, h2 {
  color: #2c3e50;
  margin-top: 0;
}

/* Para que las listas se vean bien */
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}